body{
  background-color: #efeff5;
  font-family: Roboto;
  padding-block-start: 5rem;
}

nav ul{
  list-style-type: none;
  position: fixed;
  display: block;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: right;
}

nav a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 20px
}

nav a:hover{
  background-color: #111;
}

h1{
  font-size: 30px;
}

/* h2, p{
  padding-bottom: 20px;
} */

main{
  padding-left: 20px;
  padding-right: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border: 1px groove #021a40;
}

.skip a{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.skip a:focus
{
  position:static;
  width:auto;
  height:auto;
}

.current{
  background-color: #993366;
  font-weight: bold;
  font-style: italic;
}

.projects ul{
  padding-bottom: 20px;
}

.resume h2{
  padding-top: 20px;
}

.profile{
  margin: 10px;
}
